* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(../images/marblebg.jpg) ;
}

section {
    padding: 125px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../images/Cloud-Castle-Kat-Flower5.jpg) ;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3.5em;
    color: #fff;
    font-weight: 500;
    line-height: 1.4em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 600;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #ea9;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}

header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 22px;
    text-transform:lowercase;
    text-decoration: rgb(73, 77, 80);
    font-weight: 700;
    letter-spacing: 4px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    text-decoration: #fff;
    font-weight: 800;
}

header.sticky.ul li a {
    color: #fff;
}

.heading {
    width: 100%;
    text-align:center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBox
{
    padding-right: 30px;
}

.contentBox h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}

img {
    max-height: 400px;
    max-width: 300px;
}

img.about {
    max-height: 400px;
    max-width: 300px;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.services .content .servicesBox {
    padding: 40px 20px;
    background: #fff;
    color: #111;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.services .content .servicesBox:hover {
    background:#ea9;
}

.services .content .servicesBox img {
    max-width: 100px;
}

.services .content .servicesBox h2 {
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
}

.products .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img.products {
    max-height: 250px;
    max-width: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.products .content .productsBox {
    width: 50%;
    padding: 20px;
}

.products .content .productsBox img {
    max-width: 100%;
}

.formBox {
    min-width: 60%;
}

.formBox form {
    display: flex;
    flex-direction: column;
}

.formBox form h3,
.contactInfo h3 {
    color: #111;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.formBox form input,
.formBox form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #ea9;
    color: #fff;
}

.formBox form textarea {
    min-height: 200px;
}

.formBox form input::placeholder,
.formBox form textarea::placeholder {
    color:#fff;
}

.formBox form input[type="submit"] {
    max-width: 100px;
    background: #ea9;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBox {
    position: relative;
}

.contactInfoBox .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBox .box .icon {
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBox .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
}

.contactInfoBox .box .text h3 {
    font-weight: 600;
    color: #ea9;
    margin-bottom: 0;
}